.logoContainer {
    display: flex;
    align-items: center;
    color: #072E33;
    cursor: pointer;
    font-size: 1.3rem;
    background-size: 100%;
}

.navbar-logo {
    font-size: 2rem;
    color: #072E33;
}

.logoContainer img {
    width: 60px;
}

.NavbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    box-shadow: 0 5px 15px 0 #072E33;
    width: 95%;
    height: 50px;
    border-radius: 13px;
    background-color: #25685D;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 15px;
    list-style: none;
    align-items: center;
}

.nav-links {
    text-decoration: none;
    color: #072E33;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.nav-links i {
    padding-right: 10px;
}

.nav-links:hover {
    background-color: #0C7078;
    color: #072E33;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.nav-link-logo {
    text-decoration: none;
}

.nav-links-mobile {
    display: none;
}

button {
    padding: 15px;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background-color: #072E33;
    color: #0C7078;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #6BA2A9;
    color: #072E33;
}

.menu-icons {
    display: none;
}

@media screen and (max-width: 1300px) {
    .NavbarItems {
        height: 20px;
        z-index: 100;
        width: 85%;
    }

    .nav-menu {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: flex-start;
        background: #25685D;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        transition: 0.3s ease-in-out;
        border-radius: 13px;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;
    }


    .nav-links {
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
        margin-top: 2rem;
    }

    .nav-links:hover {
        background: #0C7078;
        transition: none;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        border-radius: 4px;
        width: 80%;
        background: #072E33;
        text-decoration: none;
        color: #6BA2A9;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
    }

    button {
        display: none;
    }

    .menu-icons {
        display: block;
        cursor: pointer;
    }

    .menu-icons i {
        font-size: 1.8rem;
        color: #072E33;
    }
}